@import url(./styles.css);

.about-intro {

}

/* About Section 1 */
.about-section1 {
    margin: 0 1rem;
    padding-top: 2rem;
}

.about-skillset-grid {
    grid-column: 4 / span 9
}

.about-skillset_container {
    width: 100%;
}

.about-textcont {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-text-sty {
    font-size: 1rem;
    font-family: var(--book);
    color: var(--gray);
}

/* About Section 2 */
.about-section2 {
    margin: 0 1rem;
    padding: 2rem 0;
}

.about-skillset_line {
    display: flex;
    gap: 4rem;
}

.skillnumber {
    font-size: 1rem;
}

.skillset-divider {
    border-top: 1px solid var(--gray); 
    opacity: 0.8;
    margin: 1rem 0;
}

@media (min-width: 768px) {

.about-section1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 2rem 0;
}

.about-imagecont {
    grid-column: 1 / span 5;
    
}

.about-textcont {;
    grid-column: 7 / span 5;
    margin-top: 0;
    gap: 1rem;
}

@media (min-width: 1024px) {

  .about-section1 {
    margin: 0 1.5rem;
  }

}

@media (min-width: 1280px) {

}

@media (min-width: 1536px) {

    .about-intro-grid {
        grid-column: 1 / span 5;
    }
}   

@media (min-width: 1920px) {

.about-section1 {
    margin: 0 2.5rem;
  }

}