@font-face {
    font-family: 'Neue Montreal Medium';
    src: url('../fonts/PPNEUEMONTREAL-MEDIUM.OTF') format('opentype');
    font-weight: 530; 
    font-style: normal; /* Matches the font's actual style */
}

@font-face {
    font-family: 'Neue Montreal Reg';
    src: url('../fonts/PPNEUEMONTREAL-BOOK.OTF') format('opentype');
    font-weight: 450;
    font-style: normal; /* Matches the font's actual style */
}

@font-face {
    font-family: 'Neue Montreal Light';
    src: url('../fonts/PPNEUEMONTREAL-THIN.OTF') format('opentype');
    font-style: normal; /* Matches the font's actual style */
}