@import url(styles.css);

.project-overview h3 {
    margin: 1rem;
}

.project-information {
    margin: 2rem 1rem;
}

.project-information p {
    color: var(--midnight);
    margin: 0.25rem 0;
    padding-bottom: 0.25rem;
    font-size: 1rem;
}

.project-overview p {
    margin-top: 1rem;
}

.project-info_role {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--midnight);
}

/* ROAM custom sections */
.roam-challenges_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.roam-challenge {
    border: 1px solid var(--black);
    /* background-color: var(--midnight); */
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.roam-challenge ion-icon {
    color: var(--midnight);
    font-size: 44px;
}

.roam-challenge p {
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.roam-hifi {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.roam-hifi img {
    width: 50%;
}

/* Project Pages Text */
.project-text {
    text-wrap: pretty;
    font-size: 1rem;
}

.project-image_2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.project-content-spacer {
    margin-top: 1rem;
}

.project-results {
    display: flex;
    flex-direction: column-reverse;
}

.project-results p {
    font-size: 1rem;
}

.results-spacer {
    margin-top: 1rem;
}

.project-results_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-results_left-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

/* Side by side text + image */
.project-text_image .project-image_1 {
    margin-top: 2rem;
}

/* 3 Image Style Guide */
.project-styleguide {
    background-color: var(--black);
}

/* Epure custom - For illustrations */

.epure-2 {
    height: min-content;
    margin-top: 1rem;
}

.epure-2-2 {
    margin-top: 1rem;
}

.amacon-2col-2 {
    margin-top: 1rem;
}


@media (min-width: 768px) {
    .project-information {
        width: 75%;
    }

    .project-information p {
        font-size: 1.25rem;
    }

    .roam-challenge {
        flex: 1;
    }

    .roam-hifi img {
        width: 25%;
    }

    /* Project Pages Text */
    .project-text {
        font-size: 1.25rem;
    }

    .project-results p {
        font-size: 1.25rem;
    }

    /* Style Guide Layout Change */
    .project-styleguide {
        display: flex;
        justify-content: space-between;
    }


}

@media (min-width: 1024px) {
    .project-overview h3 {
        margin: 0 1.5rem;
    }

    .project-information {
        margin: 2rem 1.5rem;
    }

    .roam-hifi {
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .project-content-spacer {
        margin-top: 2rem;
    }

    .results-spacer {
        margin-top: 0;
    }

    .project-results {
        flex-direction: row;
        gap: 1.5rem;
        /* max-height: 60vh; */
    }

    .project-results_left {
        flex: 1;
    }

    .project-results_right {
        flex: 1;
    }

    .project-results_right img {
        height: 100%;
    }

    /* Epure 2 */
    .epure-2 {
        display: flex;
        justify-content: space-between;
    }
    .epure-2-1 {
        width: 40%;
    }
    .epure-2-2 {
        width: 60%;
    }

    .amacon-2col {
        display: flex;
        gap: 2rem;
        width: 100%;
    }

    .amacon-2col img {
        flex: 1; /* Allow the images to grow equally */
        object-fit: cover; /* Ensure proper scaling */
        max-width: 100%; /* Prevent overflow */
        height: auto; /* Maintain aspect ratio */
    }

    .amacon-2col-1 {
        flex: 1;
        width: 48%;
        height: 100%;
    }
    

    .amacon-2col-2 {
        margin-top: 0rem;
        flex: 1;
        width: 48%;
        height: 100%;
    }

}

@media (min-width: 1280px) {
    .roam-challenges_container {
        gap: 1.5rem;
    }

    .roam-challenge {
        width: 100%;
    }

    .project-image_1 {
        width: 50%;
    }

    .project-image_2 {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        max-height: 600px;
    }

    .project-image_2-1 {
        max-width: 50%;
    }

    .project-image_2-2 {
        max-width: calc(50% - 2rem);
    }


    /* Project Pages Text */
    .project-text {
        width: 50%;
    }

    .project-content-spacer {
        margin-top: 2.5rem;
    }

    .roam-hifi {
        margin-top: 1.5rem;
    }

    .roam-hifi img {
        width: 12.5%;
    }

    .project-text_image {
        display: flex;
        gap: 1.5rem;
    }

    .project-text_image-text {
        width: 50%;
    }

    .project-text_image-text .project-text {
        width: 100%;
    }


    .project-text_image .project-image_1 {
        margin-top: 0;
    }

    .amacon-2col {
        gap: 2.5rem;
    }




}

@media (min-width: 1920px) {

    .project-content-spacer {
        margin-top: 3rem;
    }

    .project-information p {
        font-size: 1.5rem;
    }

    .roam-challenge {
        padding: 2rem
    }

    .roam-challenge ion-icon {
        font-size: 64px;
    }

    .roam-challenge p {
        font-size: 1.25rem;
        width: 80%;
    }

    /* Project Pages Text */
    .project-text {
        width: 50%;
        font-size: 1.5rem;
    }
    
    .project-text {
        width: 50%;
    }

    .project-results {
        max-height: 60vh;
    }

    .project-results p {
        font-size: 1.5rem;
    }

    .project-image_2 {
        max-height: 700px;
    }

    .epure-2 {
        margin-top: 2rem;
    }
    .epure-2-1 {
        width: 30%;
    }
    .epure-2-2 {
        width: 60%;
    }

    .project-information {
        margin: 2rem 2.5rem;
    }
    .project-overview h3 {
        margin: 0 2.5rem;
    }

    .project-results {
        gap: 2.5rem;
    }

    .project-image_2 {
        gap: 2.5rem;
    }

    .roam-challenges_container {
        gap: 2.5rem;
    }
    .project-text_image {
        gap: 2.5rem
    }

    .amacon-2col {
        gap: 3rem;
    }


}

@media (min-width: 2560px) {

    .project-information p {
        font-size: 1.5rem;
    }

    .project-text {
        font-size: 1.675rem;
    }

    .project-results p {
        font-size: 1.675rem;
    }

    .roam-challenge p {
        font-size: 1.5rem;
        width: 80%;
    }

    .project-information {
        width: 60%;
    }

    .project-image_2 {
        max-height: 900px;
    }

    .project-content-spacer {
        margin-top: 3.5rem;
    }
}







/* @media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1920px) {}

@media (min-width: 2560px) {} */