@import url(styles.css);


/* Font Sizes */
.pp-numbers {
    font-size: 20px;
}

.pp-sectionText {
    /* margin-bottom: 24px; */
    text-transform: uppercase;
    font-family: var(--medium);
    font-size: 32px;
}

.pp-header {
    text-transform: uppercase;
    font-family: var(--medium);
    font-size: 20px;
}

.pp-body {
    font-size: 16px;
    line-height: 23px;
    margin-top: 10px;
}

.pp-large {
    font-size: 24px;
}

.pp-bold {
    font-family: var(--medium);
}

.pp-detail-bold {
    font-size: 14px;
    font-family: var(--medium);
    text-transform: uppercase;
    margin: 0.5rem 0;
}

.pp-detail {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

/* Spacing */
.pp-spacer {
    margin-top: 1.25rem;
}

.pp-margin-none {
    margin-top: 0;
}



/* Hero Section! */

.pp-hero {
    padding-top: 4.5rem;
    margin: 0 1rem;
}

.hero-container-1 {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 1rem 0;
    margin-left: auto;

}

.project-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-link {
    margin-top: 1rem;
}

.numberline {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 0 20px;
}


.pp-hero_button {
    position: relative;
    background-color: var(--midnight);
    border-radius: 1rem;
    color: var(--beige);
    box-shadow: none;
    padding: 10px 12px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.5sease;
    z-index: 1;
    width: 100%;
}

.hero-container-2 {
    margin: 2rem 0;
}

.project-details {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.details-role,
.details-software,
.details-team,
.details-time {
    flex: 1 1 calc(33.33% - 14px);
}


.project-page_content {
    margin: 0 1rem;
    margin-top: 1.25rem;
}

.pp-section {
    display: flex;
    flex-direction: column;
}

.pp-2images {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: space-between;
}

.ppsection-break {
    width: 100%;
    height: 1px;
    background-color: rgb(190, 190, 190);
}

.pp-section .section-container:nth-child(2) {
    margin-top: 1.25rem;
}

.pp-figma {
    width: 100%;
    max-width: 100%;
}

.figma-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
}

.figma-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.moreprojects-cards {
    margin-bottom: 1.25rem;
}

.moreprojects-title-cta {
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.moreprojects-cards {
    margin-top: 1.25rem;
}

.mp-card-wrapper {
    overflow: hidden;
}

.moreprojects-cards a {
    text-decoration: none;
    color: var(--black);
    display: block;
    transition: transform 0.3s ease-in-out;
}

.moreprojects-card a {
    text-decoration: none;
    color: var(--black);
    display: block;
    transition: transform 0.3s ease-in-out;
}

.moreprojects-card img {
    width: 100%;
    transition: transform 0.3s ease-in-out; 
}

.moreprojects-card a:hover img {
    transform: scale(1.1);
}
.moreprojects-card .project-icon-cta ion-icon {
    transition: transform 0.3s ease-in-out; 
}

.moreprojects-card a:hover .project-icon-cta ion-icon {
    transform: rotate(90deg);
}

.moreprojects-cards a img {
    aspect-ratio: 16/9;
}

.moreprojects-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.moreproj-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moreproj-inline p {
    font-size: 16px;
    text-transform: uppercase;
}

.moreproj-inline ion-icon {
    font-size: 12px;
    margin: 0 10px;
}

.project-icon-cta {
    background-color: var(--midnight);
    border-radius: 20px;
    width: 28px;
    height: 28px;

}

.project-icon-cta ion-icon {
    transform: rotate(45deg);
    font-size: 28px;
    color: white;
}

.moreprojects-cards .moreprojects-card:nth-child(2),
.moreprojects-cards .moreprojects-card:nth-child(3) {
    margin-top: 1.25rem;
}

.pp-end-margin .section-container,
.pp-end-margin .section-container .pp-text .pp-body {
    margin: 0;
}

.project-link button a {
    font-family: var(--book);
    font-size: 1rem;
}

/* .pp-large-text {
    margin: 1rem 0;
} */












/* Media Queries */
@media (min-width: 768px) {

    .pp-sectiontext {
        margin-bottom: 24px;
        text-transform: uppercase;
        font-size: 32px;
    }

    .pp-header {
        text-transform: uppercase;
        font-family: var(--medium);
        font-size: 24px;
    }

    .pp-body {
        font-size: 20px;
        line-height: 36px;
        margin-top: 15px;
    }
    .pp-large {
        font-size: 2rem;
    }



    .pp-spacer {
        margin-top: 3rem;
    }

    .project-page_content {
        margin-top: 3rem;
    }

    /* .pp-2images img:nth-child(2) {
        margin-top: 3rem;
    } */

    .details-role,
    .details-software,
    .details-team,
    .details-time {
        flex: 1;
    }


    .pp-2images {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: space-between;
    }

    .pp-section .section-container:nth-child(2) {
        margin-top: 3rem;
    }

    .pp-margin-none {
        margin-top: 0;
    }


}

@media (min-width: 1024px) {

    .project-page_content {
        margin: 0 1.5rem;
    }

    .pp-hero {
        margin: 0 1.5rem;
    }

    .moreprojects-cards {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        margin: 2rem 0;
    }

    .moreprojects-card {
        flex: 1 1 calc(33.333% - 1rem);
    }

    .moreprojects-cards .moreprojects-card:nth-child(2),
    .moreprojects-cards .moreprojects-card:nth-child(3) {
        margin-top: 0;
    }

}

@media (min-width: 1280px) {

    .pp-sectionText {
        font-size: 40px;
    }

    .pp-body {
        width: 85%
    }

    .pp-spacer {
        margin-top: 5rem;
    }

    .project-page_content {
        margin-top: 5rem;
        /* max-width: 1440px;
        margin: 0 auto; */
    }

    .pp-hero_container {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin: 2rem 0;
    }

    .hero-container-1 {
        width: 30%;
        margin: 0;
        margin-left: 10rem;
    }

    .hero-container-2 {
        margin: 0;
        width: 45%;
    }

    .project-link {
        margin-top: 2rem;
    }

    .pp-detail-bold {
        margin: 0.75rem 0;
    }

    .pp-detail {
        margin-bottom: 0.75rem;
    }

    .pp-large {
        font-size: 2.75rem;
    }


    /* Sections */

    .pp-section {
        display: flex;
        /* Ensure it applies */
        flex-direction: row;
        flex: 1 1 auto;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .section-container {
        flex: 1;
    }

    .pp-2images {
        display: flex;
        flex-direction: row;
    }

    .pp-2images {
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
        justify-content: space-between;
        width: 100%;
    }

    .pp-2images img {
        flex: 1 1 0;
        max-width: 100%;
        height: auto;
        object-fit: cover;
        min-width: 0;
    }

    .pp-section .section-container:nth-child(2) {
        margin-top: 0rem;
    }

    .pp-margin-none {
        margin-top: 0;
    }




}

@media (min-width: 1920px) {
    .pp-hero {
        margin: 0 2.5rem;
    }

    .project-page_content {
        margin: 0 2.5rem;
        margin-top: 5rem;

    }

    .moreprojects-cards {
        gap: 2.5rem;
    }

    .pp-detail-bold {
        font-size: 16px;
    }

    .pp-detail {
        font-size: 16px;
    }

    .pp-large {
        font-size: 3.5rem;
    }

    .pp-section {
        gap: 2.5rem;
    }

    .pp-2images {
        gap: 2.5rem;
    }

}

@media (min-width: 2560px) {

    /* Styles for 2560px and above */
    .pp-body {
        font-size: 1.5rem;
    }
}