@import url(./font.css);

:root {
    --black: #222222;
    --beige: #F1F0EB;
    --midnight: #41417c;
    --medium: 'PP Neue Montreal - Medium', sans;
    --book: 'PP Neue Montreal - Book', sans;
    --light: 'PP Neue Montreal - Light', sans;
}

body {
    line-height: 1.25;
}

h1 {
    font-family: var(--medium);
    font-size: 3.5rem;
    color: var(--black);
}

h2 {
    font-family: var(--book);
    font-size: 1.5rem;
    color: var(--black);
}

h3 {
    font-family: var(--medium);
    font-size: 1.5rem;
    color: var(--black);
}

h4 {
    font-family: var(--medium);
    font-size: 2rem;
    color: var(--black);
}

p {
    font-family: var(--book);
    font-size: 1.25rem;
    color: var(--black);
    line-height: 1.375;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
}

button {
    position: relative;
    background-color: var(--black);
    border-radius: 1rem;
    color: var(--beige);
    box-shadow: none;
    padding: 10px 12px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.5s ease;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--midnight);
    transition: transform 0.5s ease;
    z-index: -1;
}

.button:hover::before {
    transform: translateX(100%);
}

button a {
    position: relative;
    font-family: var(--book);
    font-size: 1rem;
    color: inherit;
    transition: color 0.5s ease;
}

button:hover {
    color: var(--beige);
}

/* Custom Resume Button */
.resume-custom {
    margin: 1rem 1rem;
}

.highlight {
    color: var(--midnight);
}


.about-intro {
    font-family: var(--medium);
}

.about-text {
    margin: 1rem 0;
    width: 100%;
}


/* Cards - Used on Multiple Pages */


.card {
    /* border: 1px solid var(--black);
    padding: 0.5rem; */
    overflow: hidden;
    position: relative;
}

.card-image {
    width: 100%;
    height: 350px;
    object-fit: cover;

    transition: transform 0.5s ease;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255);
    padding: 0.5rem;
    /* transform: translateY(100%);  */
    transition: transform 0.5s ease;
}

.card-content_row1 {
    display: flex;
    justify-content: space-between;
}

.card-content_row1-discipline {
    display: flex;
    align-items: center;
    justify-content: start;
}

.card-content_row2 {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.card2-mobile {
    margin-top: 1rem;
}

/* Card Icons */
/* Project Type Spacer */


.card-content_row1 ion-icon {
    font-size: 12px;
    /* color: var(--midnight); */
    color: var(--black);

}

.card-content_row2 ion-icon {
    font-size: 20px;
    transform: rotate(45deg);
    color: var(--black);
    margin-right: -10px;
}

/* Card Custom Text */
.cardText-title {
    font-size: 1.75rem;
}

.cardText-type {
    font-size: 1rem;
    text-transform: uppercase;
    /* color: var(--midnight); */
}

.cardText-intro {
    font-size: 1.25rem;
    font-family: var(--book);
}

.card:hover .card-image {
    transform: scale(1.1);
}

.card:hover .card-content {
    transform: translateY(0);
}

/* Project Page Texts - Works */

.featured-proj-title {
    font-size: 2.25rem;
}

.featured-proj-subhead {
    font-family: var(--medium);
}

.about-background_container {
    display: flex;
    flex-direction: column-reverse;
}

.about-background_text {
    margin-top: 1rem;
}

.background-text-spacer {
    margin-top: 1.5rem;
}


.about-background_swiper {
    width: 100%;
    height: auto;
}

.swiper-slide {
    width: 100%;
    height: 300px;
    overflow-y: hidden;
    position: relative;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    position: relative;
    margin-top: 10px;
    text-align: end;
    font-size: 1rem;
}

.swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
    background-color: transparent;
    opacity: 1;
    border: 1px solid #000;
    transition: background-color 0.3s, border-color 0.3s;
}

.swiper-pagination-bullet-active {
    background-color: var(--black);
}


@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
        color: var(--black);
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 2rem;
    }


    p {
        font-size: 1.5rem;
    }

    /* Cards Text Size Changes @ tablet */
    .cardText-title {
        font-size: 2rem;
    }

    .cardText-type {
        font-size: 1.25rem;
    }

    .cardText-intro {
        font-size: 1.5rem;
    }

    .card-content_row2 ion-icon {
        font-size: 28px;
    }

    /* Works Featured */
    .featured-proj-title {
        font-size: 3rem;
    }

    .swiper-slide {
        width: 100%;
        height: 500px;
        overflow-y: hidden;
        position: relative;
    }

    .swiper-pagination {
        margin-top: 1.25rem;
    }

    .swiper-pagination-bullet {
        width: 1rem;
        height: 1rem;
    }
}


@media (min-width: 1024px) {
    .card-container {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .card2-mobile {
        margin-top: 0;
    }

    .card {
        width: 50%;
        max-height: 550px;
    }

    button {
        /* background-color: var(--midnight); */
        border-radius: 3rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .resume-custom {
        margin: 1rem 1.5rem;
    }

}

@media (min-width: 1280px) {
    h1 {
        font-size: 6rem;
        color: var(--black);
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 2.25rem;
    }


    p {
        font-size: 1.5rem;
    }

    .about-text {
        width: 100%;
    }

    .card {
        position: relative;
        overflow: hidden;
        width: 50%;
        height: 600px;
    }

    .card-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        transition: transform 0.8s ease;
        transform-origin: top center;
    }

    .card-content {
        align-items: flex-end;
        z-index: 0;
        text-align: center;
        padding: 1rem;
    }

    .roamCardBG {
        background-color: #FFD398;
    }

    .virtusCardBG {
        background-color: #f3eb9f;
    }

    .epureCardBG {
        background-color: #DFD7C1;
    }

    .macadeCardBG {
        background-color: #D6DDF2;
    }

    .card:hover .card-image {
        transform: translateY(-100px);
    }

    .about-background_container {
        display: flex;
        flex-direction: row;
        flex: 1;
        gap: 2rem;
    }

    .about-background_text {
        flex: 1;
    }

    .about-background_text {
        margin-top: 0;
    }

    .background-text-spacer {
        margin-top: 2rem;
    }

    .about-background_text p {
        width: 100%;
    }

    .resume-custom {
        margin: 1.5rem 1.5rem;
    }

    .about-background_swiper {
        width: 50%;
        height: 500px;
    }

    .swiper-wrapper {
        height: auto;
    }

    .swiper-slide {
        width: 100%;
        height: 400px;
        position: relative;
    }


    /* .about-background_swiper {
        width: 100%;
        height: auto;
    }
    
    .swiper-slide {
        width: 100%;
        height: 300px;
        overflow-y: hidden;
        position: relative;
    }
    
    .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .swiper-pagination {
        position: relative; 
        margin-top: 10px;
        text-align: end;
        font-size: 1rem;
    }
    
    .swiper-pagination-bullet {
        width: 0.75rem;
        height: 0.75rem;
        background-color: transparent;
        opacity: 1;
        border: 1px solid #000;
        transition: background-color 0.3s, border-color 0.3s;
    }
    
    .swiper-pagination-bullet-active {
        background-color: var(--black);
    } */

}


@media (min-width: 1920px) {
    h2 {
        font-size: 2.25rem;
    }

    .about-images-row1 img {
        height: 500px;
    }

    .about-images-row2 img {
        height: 400px;
    }

    button {
        font-size: 1.25rem;
        padding: 0.75rem 2rem;
    }

    .resume-custom {
        margin: 1.5rem 2rem;
    }

    .card {
        max-height: 600px;
    }

    .card-container {
        gap: 2.5rem;
    }

    footer .component-content {
        padding-bottom: 0;
    }

    .about-background_container {
        gap: 2.5rem;
    }

    .about-background_swiper {
        height: auto;
    }

    .swiper-slide {
        width: 100%;
        height: 600px;
        position: relative;
    }

}


@media (min-width: 2560px) {
    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 2.5rem;
    }


    h3 {
        font-size: 2.75rem;
    }

    p {
        font-size: 1.75rem;
    }

    .featured-proj-title {
        font-size: 4rem;
    }

    .card {
        height: 800px;
        max-height: 800px;
    }

    /* Cards Text Size Changes @ tablet */
    .cardText-title {
        font-size: 2.5rem;
    }

    .cardText-type {
        font-size: 1.5rem;
    }

    .cardText-intro {
        font-size: 2rem;
    }

    .card-content_row2 ion-icon {
        font-size: 36px;
    }

    .card:hover .card-image {
        transform: translateY(-115px);
    }

    .about-background_swiper {
        height: auto;
    }

    .swiper-slide {
        width: 100%;
        height: 750px;
        position: relative;
    }

}