@import url(./font.css);

:root {
    --black: #222222;
    --beige: #F1F0EB;
    --midnight: #535366;
    --medium: 'Neue Montreal Medium', sans;
    --book: 'Neue Montreal Reg', sans;
    --light: 'Neue Montreal Light', sans;
}

h1 {
    font-family: var(--medium);
    font-size: 3.5rem;
    color: var(--black);
}

h2 {
    font-family: var(--book);
    font-size: 1.75rem;
    color: var(--black);
}

h3 {
    font-family: var(--book);
    font-size: 1.5rem;
    color: var(--black);
}

h4 {}

p {}

a {
    text-decoration: none;
}
button {
    background-color: var(--midnight);
    border-radius: 1rem;
    color: var(--beige);
    box-shadow: none;
    padding: 8px 10px;
    border: none;
    font-family: var(--book);
    font-size: 1rem;
}


/* Footer */
.email-container {
    width: 80%;
}
.socials-container {
    margin-top: 2rem;
    width: 80%;
}

.email-container h3 {
    font-family: var(--medium);
}
.email-tagline {
    text-align: end;
    font-family: var(--light);
    font-size: 1.125rem;
}


.social-link a{
    text-decoration: none;
    color: var(--black);
    font-family: var(--book);
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-link ion-icon {
    transform: rotate(45deg);
    font-size: 24px;
    color: var(--black);
}

.footer-closingtag {
    margin-top: 2rem;
    width: 80%;
}

.social-link a:hover {
    color: var(--midnight);
    font-family: var(--medium);
}

@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
        color: var(--black);
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {}

    p {}
}


@media (min-width: 1028px) {}


@media (min-width: 1280px) {
    h1 {
        font-size: 6rem;
        color: var(--black);
    }

    h2 {
        font-size: 2rem;
    }

    h3 {}

    h4 {}

    p {}

    .email-container {
        width: 40%;
    }
    .socials-container{
        width: 40%;
    }
}


@media (min-width: 1920px) {
    h2 {
        font-size: 2.5rem;
    }
}


@media (min-width: 2560px) {
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 3rem;
    }
}